<% if slider.size > 0 %>
    <slick slides-to-show="1" ng-if="true" settings="{arrows:false,centerMode:false,centerPadding:'0'}">
      <% slider.each_with_index do |slide, index| %>
          <div class="item">
            <%= link_to image_tag(slide.slide_image.url, alt: slide.slide_caption,class:'img-responsive'), url_for(slide.slide_link) %>
            <div>
              <% if slide.show_caption? %>
                  <h3><%= slide.slide_caption %></h3>
              <% end %>
              <% unless slide.body.blank? %>
                  <p><%= slide.body %><p>
              <% end %>
            </div>
          </div>
      <% end %>
    </slick>
<% end %>
